<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="Menu">
 	
 	<select id="list" resultType="com.basic.menu.vo.MenuVo">
 		SELECT * FROM MENU ORDER BY IDX
 	</select>
 	
 	<delete id="delete">
 		DELETE FROM MENU WHERE NAME LIKE #{menuname}
 	</delete>
 	
 </mapper>